body {
  background-color: rgb(240, 50, 99);
  color: #F5FF6B;
  margin:auto;
  width: 80%;

}



h1, h2, h3 {


  font-family: 'Open Sans', sans-serif;
  font-family: 'Shadows Into Light', cursive;

   font-size: 56px;

   text-align: center;
